body {
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    color: rgba(26, 26, 26, .75);
    background: rgb(237,237,237);
    background: linear-gradient(90deg, rgba(237,237,237,1) 0%, rgba(250,250,250,1) 50%, rgba(237,237,237,1) 100%);
}

a {
    color: #1677ff;
}

a:visited {
    color: rgba(22, 119, 255, .8);
}

a:hover,
a:active {
    color: rgba(22, 119, 255, .5);
}

.btn.btn-primary {
	color: #fff;
	background: #1677ff;
	box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    transition: .3s background-color linear, .3s color linear;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: .24em;
    border: none;
}

.btn.btn-primary:hover {
    background-color: #69a4f7;
    color: #fff !important;
    border: none;
}

.card-header {
    background-color: #fafafa;
}

.card-header a {
    font-size: 1.5rem;
    color: rgba(26, 26, 26, .75);
    border-bottom-color: rgba(19, 1, 1, .276);
}

div.logoheader {
    background: 0 0;
    height: 70px;
    width: 100%;
    min-width: 600px
}

div.logoheader h1 {
    background: transparent url("/images/cadre.png") no-repeat top left;
    background-size: 100%;
    margin-top: 8px;
    margin-left: 8px;
    width: 200px;
    height: 70px;
    float: left
}

div.skincilogonlogo {
    background: transparent url("images/aaf.png") no-repeat top left;
    display: inline;
    margin-top: 12px;
    margin-right: 8px;
    height: 200px;
    width: 200px;
}

div.skincilogonlogo a img {
    display: none
}

.footer {
    border: 1px solid #c0c2c5;
    background-color: rgba(5, 0, 0, .03);
    height: auto;
    padding: 1em 0;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: -2;
}

.footer a:link,
.footer a:visited {
    color: rgb(22, 119, 255, 0.75);
    outline: none;
    text-decoration: underline
}

.footer a:hover,
.footer a:active {
    color: rgb(22, 119, 255, 0.40);
    text-decoration: none
}

#heading-oidcconsent {
    display: none;
}

#heading-selectanidp {
    text-indent: -9999px;
    line-height: 0
}

#heading-selectanidp:after {
    content: "Choose Your Identity Provider";
    text-indent: 0;
    display: block;
    line-height: initial
}


.dropdown.bootstrap-select {
    width: 90% !important;
    text-align: center;
}

.dropdown-menu {
    width: 90%
}

.dropdown-toggle {
    background-color: transparent;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding: 13px 12px
}

.bootstrap-select .dropdown-toggle .filter-option {
    text-align: center;
}